<% lots_of_products = Product.includes(:user).all %>

<ul>
		<% lots_of_products.each do |product| %>
		<li>Product = "<%= product.name %>" &nbsp &nbsp  Product Cost =$<%=product.price %> &nbsp &nbsp Sold by = <%= product.user.name %></li>
		<% end %>
</ul>